<h2>Welcome to <%= params[:type].capitalize %> Management System </h2>

    <form action="/new">
      <input type="text" name="type" value="<%= params[:type] %>" hidden>
      <% @strings.each do |x| %>
      <%= x %>
      <% end  %>
      <div class="button"><button type="submit">Create Your New <%= params[:type].capitalize %></button></div>
    </form>